name: Deploy to EC2

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Deploy to EC2
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_KEY }}
        script: |
          sudo yum install git -y || true
          cd /home/ec2-user || exit
          if [ ! -d "mini-project" ]; then
            git clone https://github.com/SarvaiyaPrashant2242005/mini-project.git
          fi
          cd mini-project
          git pull

          sudo docker stop webapp || true
          sudo docker rm webapp || true
          sudo docker build -t myweb .
          sudo docker run -d -p 80:80 --name webapp myweb
